* {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-lines: 2;
}

h1, h2, h3, h4, h5, h6, td {
	-moz-hyphens: none !important;
	-webkit-hyphens: none !important;
	hyphens: none !important;
}
