[flake8]
max-line-length = 88
exclude =
    # The default
    .svn,
    CVS,
    .bzr,
    .hg,
    .git,
    __pycache__,
    .tox,
    # The *_init.py files make an import that's only referenced within calibre
    *_init.py,
    # Source control directories have nothing of interest
    .hgignore
per-file-ignores =
    # Calibre tests need some code before calibre imports are done, which means
    # imports are not done strictly at the top of the file.
    tests/test_*.py:E402
