*.ps1	text eol=crlf
*.sh	text eol=lf
*.py	text eol-lf
*.txt	text eol=lf
*.md	text eol=lf
LICENSE	text
CONTRIBUTORS	text
*.pot	text eol=lf
*.css	text eol-lf

*.zip	binary
*.mo	binary

.gitattributes	export-ignore
.gitignore		export-ignore
